@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  .scroll-bar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge Chromium, Opera */
  }

  .scroll-bar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
}
